.bestPrice-wrapper {
  background: #a0e0b2;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px 19px;

  position: absolute;
  margin: -48px 0 0 0;

  user-select: none;
}

.bestPrice-wrapper .content {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #171727;
}
