* {
  margin: 0;
}

.App {
  font-family: Nunito;
  font-style: normal;
  color: #ffffff;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #0f0f1b;
}

.App .subTitle {
  width: 467px;

  margin: 15px 0 0 0;
}

.App h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
}

.App .subTitle h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.App .cards-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;

  margin: 65px 0;
}
